/* .user-list-container {
    box-sizing: border-box;
    padding: 0.5rem;
    width: 100%;
} */


/* #table-action-area {
    position: relative;
}

#delete-selected-button {
    position: absolute;
    left: 1rem;
}

#row-limit-select {
    position: absolute;
    right: 1rem;
} */