.user-list-container {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
}

.user-list-search-bar-container {
    margin: 1rem; 
}

.user-list-table-view-container {
    margin: 1rem; 
}

.user-list-table-actions-container {
    margin: 1rem; 
}

#table-action-area {
    position: relative;
}

#delete-selected-button {
    position: absolute;
    left: 1rem;
}

#row-limit-select {
    position: absolute;
    right: 1rem;
}